<!-- <div {{action "close"}} class="diagram-content">
</div> -->
    <div class="info-box">
        <div class="panel panel-default">
            <div class=panel-heading>
                <h4 class="panel-title">
                {{meta.city}}, {{meta.country}}
                </h4>
                <div class="subheader">
                    
                    {{#if allIncidents}}
                    All incidents included
                    {{else}}
                    Only incidents leading to casualties included
                    {{/if}}
                    [{{data.incidents}}]
                    <div class="align-right">
                        <!-- <button {{action "toggleCasualties"}} class="btn btn-default">Toggle</button> -->
                         <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            {{#if allIncidents}}
                                All incidents
                            {{else}}
                                Lethal incidents
                            {{/if}}
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu cas-toggle" aria-labelledby="dropdownMenu1">
                            <li class="{{if allIncidents "marked"}}"><a {{action "toggleCasualties" 1}}  href="#">All incidents</a></li>
                            <li class="{{unless allIncidents "marked"}}"><a {{action "toggleCasualties" 2}} href="#">Lethal incidents</a></li>
                          </ul>
                    </div>
                </div>
            </div>
            <div class="panel-body {{if show-log "logbook"}}">
                {{#unless show-log}}
                <table class="table">
                    <tbody>
                        <tr>
                            <td>
                                Last incident
                            </td>
                            <td>
                                {{data.latest}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Total incidents
                            </td>
                            <td>
                                {{data.incidents}}
                            </td>
                        </tr>
                        <tr>
                            <td>Total fatalities</td>
                            <td>{{data.fatalities}}</td>
                        </tr>
                        <tr>
                            <td>Total injuries</td>
                            <td>{{data.injuries}}</td>
                        </tr>
                        <tr>
                            <td>Most frequent weapon</td>
                            <td>{{data.weapon}}</td>
                        </tr>
                        <tr>
                            <td>{{data.weapon}}</td>
                            <td>{{data.weapon_count}}</td>
                        </tr>
                        <tr>
                            <td>Most frequent known perpetrator</td>
                            {{#if data.perpetrator}}
                            <td>{{data.perpetrator}}</td>
                            {{else}}
                            <td>Unknown</td>
                            {{/if}}
                        </tr>
                        {{#if data.perpetrator}}
                        <tr>
                            <td>{{data.perpetrator}}</td>
                            <td>{{data.perpetrator_count}}</td>
                        </tr>
                        {{/if}}
                    </tbody>
                </table>
                {{else}}
                <table class="table">
                    <thead>
                        <tr>
                            <th {{action "reverseLog"}} style="cursor:pointer;">Date</th>
                            <th>Description</th>
                        </tr>
                    </thead>            
                    <tbody>
                    {{#each log as |log|}}
                            <tr class="logrow">
                                <td class="logdate">
                                    {{log.date}}
                                </td>
                                <td>
                                    {{log.description}} 
                                </td>
                            </tr>
                    {{/each}}
                    </tbody>
                </table>
                {{/unless}}
            </div>
            <div class="panel-footer">
                <button class="btn btn-default" {{action "openDiagram" "perpetrator"}}>Show Perpetrators</button>
                <button class="btn btn-default" {{action "openDiagram" "weapon"}}>Show Weapons</button>
                {{#unless show-log}}
                    <button class="btn btn-default" {{action "showLog"}}>Show log</button>
                {{else}}
                    <button class="btn btn-default" {{action "closeLog"}}>Show stats</button>
                {{/unless}}
            </div>
        </div>
    </div>